body {
  background-color: #fafafa;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.navigation {
  height: 48px;
}

.canva {
  background: #add8e6;
  border-radius: 4px;
  height: calc(100vh - 80px) !important;
  cursor: pointer;
}
